* {
    margin: 0;
    padding: 0;
}



.bg-color-secundary {
    background-color: #4e4e4e;
}

.bg-color {
    background-color: #18171c;
}

/* Footer */


footer {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.li-second-item {
    margin: 20px;
    list-style: none;

}   
.div-logo {
    display: flex;
    align-items: center;
}
.logo2 {
    display: flex;
    
}


/* Pseudoclases */

.hover-item:hover {
    width: 520px;
}

.transition {
    transition: 1s;
}